{% extends 'base-admin.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Dashboard</h1>
      <p><b>Nombre de commandes en cours :</b> {{countCommandeNonLivre}}</p>
      <p><b>Nombre de commandes livrées :</b> {{countCommandeLivre}}</p>
      <p><b>Nombre de restaurants :</b> {{countRestaurant}}</p>
      <p><b>Revenus totals :</b> {{sumFraisLivraison}}€</p>
    </div>
</div>
{% endblock %}
