{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Restaurants
{% endblock %}

{% block body %}
<style>
#contain_alert {
    with: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#alert_warning {
    text-align: center;
    with: 50%;
}
</style>

<h1 class="title-background-grey text-center">
    Restaurants
</h1>

<div id="contain_alert">
    {% for message in app.flashes('warning') %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert" id="aler_warning">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    {% endfor %}
</div>

{% for restaurant in restaurants %}
    {% if loop.first %}
        <div class="row">
    {% endif %}

    {% include "restaurant/item-restaurant.html.twig" with {'image': restaurant.image, 'libelle': restaurant.libelle, 'description': restaurant.description, 'id': restaurant.id } %}

    {% if loop.index % 3 == 0 %}
        </div><div class="row">
    {% endif %}

    {% if loop.last %}
        </div>
    {% endif %}
{% endfor %}
{% endblock %}
