<div class="card" style="width: 18rem;">
    <img src="{{image}}" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{libelle}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ prix }} €</h6>
        <a href="{{path('add_plat_order', {'id': plat.id})}}" class="btn btn-primary">Ajouter au panier</a>
    </div>
</div>
