{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - {{restaurant.libelle|title}}
{% endblock %}

{% block body %}
<style>
.order {
    position: fixed;
    bottom: 30px;
    z-index: 1000;
    font-size: 50px;
    right: 30px;   
    border: solid 2px transparent;
    border-radius: 50px;
}
.order:hover {
    cursor: pointer;  
    background-color: gray;     
}
</style>

<h1 class="title-background-grey text-center">
    {{restaurant.libelle|title}}
</h1>
<div class="container">

    {% for plat in restaurant.plats %}
        {% if loop.first %}
            <div class="card-deck my-5">
        {% endif %}

        {% include "restaurant/plat.html.twig" with {'image': plat.image, 'libelle': plat.libelle, 'prix': plat.prix} %}

        {% if loop.index % 3 == 0 %}
            </div><div class="card-deck my-5">
        {% endif %}

        {% if loop.last %}
            </div>
        {% endif %}
    {% endfor %}
</div>

<a href="{{ path('plat_order') }}" style="text-decoration: none;"><div class="order">🛒<div></a>
{% endblock %}