{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Restaurants
{% endblock %}

{% block body %}
{### {% for restaurant in restaurants %}
    {% if loop.first %}
        <div class="row">
    {% endif %}

    {% include "restaurant/item.html.twig" with {'image': restaurant.image, 'libelle': restaurant.libelle, 'description': restaurant.description } %}

    {% if loop.index % 3 == 0 %}
        </div><div class="row"> 
    {% endif %}

    {% if loop.last %}
        </div>
    {% endif %}
{% endfor %} #}
    {{ dump(restaurant) }}
    {{ dump(plats) }}
{% endblock %}