<style>
.order {
    position: fixed;
    bottom: 30px;
    z-index: 1000;
    font-size: 50px;
    right: 30px;   
    border: solid 2px transparent;
    border-radius: 50px;
}
.order:hover {
    cursor: pointer;  
    background-color: gray;     
}
</style>

<a href="{{ path('plat_order') }}" style="text-decoration: none;"><div class="order">🛒<div></a>