{% extends 'base.html.twig' %}

{% block title %}Modifier Profil{% endblock %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
<style>
.container {
    width: 20%;
}
</style>
<div class="container">
{{ form(form) }}
<a href="{{ path('user', {'id' : user.id})}}"><button class="btn btn-danger">Cancel</button></a>
</div>
{% endblock %}