{% extends 'base.html.twig' %}

{% block title %}Messages{% endblock %}

{% block body %}
<div class="jumbotron">
<div class="container">
<h1 style="text-align: center;">Messages <span class="badge badge-light">{{nbContact}}</span></h1>
 {% for contact in contacts %}
<div class="list-group" style="margin-top: 2%;">
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{contact.email}}</h5>
    </div>
    <p class="mb-1">{{contact.message}}</p>
  </a>
</div>
{% endfor %}
</div>
</div>
{% endblock %}
